# PREFACE

## Identity

=======================================

Non Graded Challenge 1

Nama    : Rafina Dhiya Pradani

Batch   : HCK-21

=======================================

## Task #1 Count unique customer_id from a list

In [24]:
customer_id = ['B818', 'A461', 'A092', 'A082', 'B341', 'A005', 'A092', 'A461','B219', 'B904', 'A901', 'A083', 'B904', 'A092', 'B341', 'B821','B341', 'B821', 'B904', 'B818', 'A901', 'A083', 'B818', 'A082','B219', 'B219', 'A083', 'A901', 'A082', 'B341', 'B341', 'A083','A082', 'B219', 'B439', 'A461', 'A005', 'A901', 'B341', 'A082','A083', 'A461', 'A083', 'A901', 'A461', 'A083', 'A082', 'A083','B341', 'A901', 'A082', 'A461', 'B219', 'A083', 'B818', 'B821','A092', 'B341', 'A461', 'A092', 'A083', 'B821', 'A092']

# Mengubah list customer_id menjadi sebuah set (set) dan menghitung jumlah elemen dalam set (len)
unique_customer_ids = len(set(customer_id))

# Mencetak nilai dari variabel unique_customer_ids
print(unique_customer_ids)

12

## Task #2 Indexing

In [25]:
data = [1, 4, 9, 16, 25, 36, 49,  64, 81, 100]

# Menggunakan print karena biar bisa muncul ketiga dari variabel yang dipanggil

# Menampilkan indeks ke 3 dari variabel data (elemen keempat dalam list)
print(data[3])

# Menampilkan indeks ke 5 sampai 9 dari variabel data (elemen ke keenam sampai kesepuluh dalam list )
print(data[5:9])

# Menampilkan seluruh elemen dalam list data secara terbalik
print(data [::-1])

16
[36, 49, 64, 81]
[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

## Task #3 Get list of keys available in dictionary & Change 'Jawa Timur' value from 'Madiun'  to 'Surabaya'

In [ ]:
provinsi = {'Nanggroe Aceh Darussalam': 'Aceh','Sumatera Selatan': 'Palembang','Kalimantan Barat': 'Pontianak','Jawa Timur': 'Madiun','Sulawesi Selatan': 'Makassar','Maluku': 'Ambon'}

# Menggunakan '.keys()' untuk mengambil semua key dari dictionary provinsi
keys_list = list(provinsi.keys())
# Menampilkan list of keys yang ada dalam dictionary provinsi
print(keys_list)

# Mengubah value pada 'Jawa Timur' dari 'Madiun' ke 'Surabaya'
provinsi['Jawa Timur'] = 'Surabaya'
# Menampilkan list dari dictionary provinsi yang value nya sudah diubah
print(provinsi)

['Nanggroe Aceh Darussalam', 'Sumatera Selatan', 'Kalimantan Barat', 'Jawa Timur', 'Sulawesi Selatan', 'Maluku']
{'Nanggroe Aceh Darussalam': 'Aceh', 'Sumatera Selatan': 'Palembang', 'Kalimantan Barat': 'Pontianak', 'Jawa Timur': 'Surabaya', 'Sulawesi Selatan': 'Makassar', 'Maluku': 'Ambon'}